@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700italic,700);

.deck-container {
    font-family: "Gentium Book Basic", "Palatino", "Palatino Linotype", serif;
    font-size: 2.5em;
    background: #f0f1eb;
    background-color: #f0f1eb;
    color: #000;
}

::selection {
    color: white;
    background: #26351c;
    text-shadow: none;
}

.deck-container section {
    text-align: center;
}

.deck-container p {
    text-align: left;
}

.deck-container h1,
.deck-container h2,
.deck-container h3,
.deck-container h4,
.deck-container h5,
.deck-container h6 {
    border: 0;
    color: #383d3d;
    line-height: 0.9em;
    letter-spacing: 0.02em;
}
.deck-container h1 {
    font-size: 3em;
}

.deck-container ul,
.deck-container ol {
    margin-right: 2em;
    display: inline-block;
    text-align: left;
}

.deck-container ul ul,
.deck-container ol ul,
.deck-container ul ol,
.deck-container ol ol {
    display: block;
    margin-bottom: 0;
}

.deck-container dl {
    display: inline-block;
    text-align: left;
}
.deck-container dd ~ dt {
    margin-top: 0.5em;
}
.deck-container dd {
    margin-left: 2em;
}

.deck-container blockquote,
.deck-container q {
    font-style: italic;
}
.deck-container blockquote {
    padding: 0.5em 1em;
    display: inline-block;
    background: #fff;
    text-align: left;
}
.deck-container blockquote p:first-child:before,
.deck-container q:before {
    display: inline;
    content: '\201C';
}
.deck-container blockquote p:last-child:after,
.deck-container q:after {
    content: '\201D';
}

.deck-container blockquote p:last-child {
    margin: 0;
}

.deck-container pre,
.deck-container code,
.deck-container .CodeMirror,
.deck-container .deck-codemirror-result {
    font-family: "Courier", "Courier New", monospace !important;
    text-align: left;
}
.deck-container pre,
.deck-container .CodeMirror,
.deck-container .deck-codemirror-result {
    overflow: auto;
    line-height: 1.3em !important;
}
.deck-container pre {
    padding: 0.2em 1em;
    max-height: 11.7em;
}

.deck-container .CodeMirror {
    max-height: 12.2em;
}
